*{
    margin: 0.5%;
    padding: 0.5%;
    box-sizing: border-box;
    max-width: 1200px;
    
}
body{
    font-family: Arial;

}
.padre{

    display: flex;
    flex-flow: column nowrap;
}
.header{
   background: url(images/header.jpg);
   background-position: center;
   background-attachment: contain;
   background-size: cover;
   display: flex;
   flex-flow:column nowrap ;
   height:  5%;
   
}
    .menu{
        display: flex;
        flex-flow: row nowrap;
        height: 850%;
        align-items: flex-start;
        
        
    }
        .logo{ 
            flex: 1 1 auto;
            
        }
            .logo img{
                width: 100px;
                height: auto;
                
        }
        .nav{
            flex: 5 1 auto;
            display: flex;
            justify-content: space-between; 
        }
            .nav a{
                text-decoration: none;
                color:#7c878d;
            }
            .nav a:hover{
                color:#164B60;
                font-size: 20px;   
            }
        .social{
            flex: 1 1 auto;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
            align-content: right;
        }
            .social a{
                color:#7c878d;  
            }
            .social a:hover{
                color:#164B60;
                font-size: 20px;
            }
    .texto-principal{
        background: rgba(0,0,0,.1);
        margin-left: 8%;
        margin-right:8%;
        
    }
        h1{
            font-family: 'Times New Roman';
            color: #f2ae7b;
            text-align: center;   
            opacity:75%;
        }
      
.section{
    background:#dfdbdb;
    display: flex;
    flex: 2 1 auto;
     
    
}
    .articulos{
        background: #dfdbdb;
        flex: 2 1 auto;
        display: flex;
        flex-flow: wrap;
    }
        .article{
            background: #ede7e7;
            flex: 1 1 40%;
        }
            #imagenes{
                width: 100%;
                }
            .titulo{
                background: #e5706e;
                color: white;
                height: 6%;
            }
           .article p{
                column-count:2;
                color:#585b5c;
                width: auto;
            }
            .article a{
                cursor:grabbing;
                text-decoration: none;
                color:#7c878d;
            }
            .article a:hover{
                color:white;
                font-size: 20px;
            }


        .navegacion{
            background:#dfdbdb;
            flex: 1 1 100%;
            text-align: center;
        }
    .aside{
        flex-direction: column;
        background: #dfdbdb;
        flex: 8 1 auto;
         
    }
        .publicidad{
            background: #dfdbdb;
            text-align: center;
        }
        
.footer{
    background:  #dfdbdb;
    
}
    .pie{
        background:  #ede7e7;
        text-align: center;
       
    }
@media all and (max-width:800px){
   .section{
        flex-direction:column;
    } 
}
@media all and (max-width:600px){
    .articulos{
        flex-direction: column;
    }
}
    